@import "tailwindcss";

.text-stroke {
  -webkit-text-stroke: 0.5px black;
}

.mask-hole {
  -webkit-mask-image: radial-gradient(
    circle at center,
    transparent 120px,
    black 120px
  );
  mask-image: radial-gradient(circle at center, transparent 100px, black 100px);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
